<%# views/extends/addGood.ejs %>
 
<% extend('../admLayout') %>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Добавление товара</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>
            </div>
          </div>

		  <div class="mb-3">
		  	<button id="submit" type="button" class="btn btn-success mr-2">Добавить товар</button>
		  </div>

		  <div>
		  	<!--<form action="insert" id="insertForm" method="post" enctype="multipart/form-data">-->
		  <form id="insertForm" enctype="multipart/form-data">
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="alb_name">Название альбома</label>
              <input type="text" class="form-control" id="alb_name" name="alb_name">
            </div>
            <div class="form-group col-md-4">
              <label for="inputAuthor">Автор</label>
              <select id="inputAuthor" class="form-control" name="author">
				<%for (var i=0;i<authors.length;i++){%>
				<option value="<%=authors[i].ID_author%>"><%=authors[i].author_name%></option>
				<%}%>
              </select>
            </div>
          </div>
          
          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="inputGenre">Жанр</label>
              <select id="inputGenre" class="form-control" name="genre">
                <%for (var i=0;i<genres.length;i++){%>
				<option value="<%=genres[i].ID_genre%>"><%=genres[i].genre_name%></option>
				<%}%>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label for="inputStyle">Стиль</label>
              <select id="inputStyle" class="form-control" name="style">
                <%for (var i=0;i<styles.length;i++){%>
				<option value="<%=styles[i].ID_style%>"><%=styles[i].style_name%></option>
				<%}%>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label for="inputLabel">Лейбл</label>
              <select id="inputLabel" class="form-control" name="label">
                <%for (var i=0;i<labels.length;i++){%>
				<option value="<%=labels[i].ID_label%>"><%=labels[i].label_name%></option>
				<%}%>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label for="inputOrigin">Происхождение</label>
              <select id="inputOrigin" class="form-control" name="origin">
                <%for (var i=0;i<origins.length;i++){%>
				<option value="<%=origins[i].ID_origin%>"><%=origins[i].origin_name%></option>
				<%}%>
              </select>
            </div>
          </div>

          <h4>Типы и количество дисков</h4>
          <div class="form-row">
            <div class="form-group col-md-4"> 
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="disktype1" name="disktype1">
                  <label class="form-check-label" for="disktype1">
                    CD
                  </label>
                </div>
                  <label for="inputCountdisk1">Дисков в альбоме</label>
                  <input type="text" class="form-control" id="inputCountdisk1" name="countdisk1">
                  <label for="inputCount1">Дисков на складе</label>
                  <input type="text" class="form-control" id="inputCount1" name="count1">
                  <label for="inputAlb_price1">Цена</label>
                  <input type="text" class="form-control" id="inputAlb_price1" name="alb_price1">
              </div>

            <div class="form-group col-md-4"> 
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="disktype2" name="disktype2">
                  <label class="form-check-label" for="disktype2">
                    Винил
                  </label>
                </div>
                  <label for="inputCountdisk2">Дисков в альбоме</label>
                  <input type="text" class="form-control" id="inputCountdisk2" name="countdisk2">
                  <label for="inputCount2">Дисков на складе</label>
                  <input type="text" class="form-control" id="inputCount2" name="count2">
                  <label for="inputAlb_price2">Цена</label>
                  <input type="text" class="form-control" id="inputAlb_price2" name="alb_price2">
              </div>
              <div class="form-group col-md-3 mt-md-4">
                <label for="inputProdtype">Тип товара</label>
                <select id="inputProdtype" class="form-control" name="prodtype">
                <%for (var i=0;i<prodtypes.length;i++){%>
				<option value="<%=prodtypes[i].ID_prodtype%>"><%=prodtypes[i].prodtype_name%></option>
				<%}%>
              </select>
              </div>
          </div>

		  <div id="songs">
            <p>
              <button class="btn btn-primary mr-2 mb-2 mb-md-0" type="button" data-toggle="collapse" data-target="#collapseSongs" aria-expanded="false" aria-controls="collapseSongs">
                Редактировать список песен
              </button>
			  <button class="btn btn-primary mb-2 mb-md-0" type="button" data-toggle="collapse" data-target="#collapseImages" aria-expanded="false" aria-controls="collapseImages">
                Редактировать изображения
              </button>
            </p>
            <div class="collapse" id="collapseSongs">
              <div class="card card-body py-2 mb-2">
                <h5>Песни</h5>
                <div class="mb-3">
                  <button type="button" id="add" class="btn btn-success btn-sm mr-2" data-toggle="collapse" data-target="#addSong" aria-expanded="false" aria-controls="addSong">Добавить</button>
                  <button type="button" id="edit" class="btn btn-warning btn-sm mr-2" data-toggle="collapse" data-target="#addSong" aria-expanded="false" aria-controls="addSong">Редактировать</button>
                  <button type="button" id="delete" class="btn btn-danger btn-sm">Удалить</button>
                    <div class="collapse  mt-2" id="addSong">
                      <div class="border rounded p-1">
                        <div class="row align-items-center">
                          <div class="col-auto">
                            <button type="button" id="insertIntoTable" class="btn btn-success btn-sm" style="display: none;">Вставить в таблицу</button>
                            <button type="button" id="updateEntry" id-entry="-1" class="btn btn-success btn-sm" style="display: none;">Обновить строку</button>
                          </div>
                          <div class="col-auto">
                            <input type="text" id="songName" class="form-control-sm" placeholder="Название">
                          </div>
                          <div class="col-auto mt-1 mt-md-1 mt-lg-0">
                            <input type="text" id="songMin" class="form-control-sm" placeholder="Минуты">
                          </div>
                          <div class="col-auto mt-1 mt-md-1 mt-lg-0">
                            <input type="text" id="songSec" class="form-control-sm" placeholder="Секунды">
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <table class="table table-bordered mb-0 table-sm">
                  <thead>
                    <tr id-entry="-1">
                      <th scope="col">#</th>
                      <th scope="col">Название</th>
                      <th scope="col">Длительность</th>
                    </tr>
                  </thead>
                  <tbody>
                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </form>

		  <div class="collapse" id="collapseImages">
           <div class="card card-body py-2 mb-2">
		   <form id="formImages" class="formImages" action="uploadImages" method="POST" enctype="multipart/form-data">
            <h5>Изображения</h5>
            <div class="row">
                <div class="col-12 col-md-6">
                <h6>Обложка альбома</h6>
                <img src="" alt="Нет изображения" id="ImageCover" class="alb-cover border d-inline-block mb-2">        
				<div class="d-inline-block align-top">
                  
					<div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Загрузить</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="fileImageCover" accept="image/jpeg,image/png" name="ImageCover">
                        <label class="custom-file-label" for="fileImageCover">Выбрать файл</label>
                    </div>
                    </div>
                    <div class="text-center">
                    <button type="button" class="btn btn-danger mt-2" id="deleteImageCover">Удалить <span class="oi oi-trash"></button>
                    </div>
                </div>
                </div>
                <div class="col-12 col-md-6">
                <h6>Дополнительные фотографии</h6>
                <div class="d-inline-block mb-2 align-top">
                    <div id="carouselAdditionalImages" class="carousel slide alb-cover border" data-ride="carousel">
                    <ol class="carousel-indicators">
                    </ol>
                    <div class="carousel-inner">
                    </div>
                    <a class="carousel-control-prev" href="#carouselAdditionalImages" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselAdditionalImages" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    </div>
                </div>
                <div class="d-inline-block align-top">
                    <div class="input-group">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-danger" id="deleteImageAdditionals" type="button">Удалить <span class="oi oi-trash"></button>
                    </div>
                    <select class="custom-select" id="inputGroupSelectImgNames">
                        <option class="imgName" selected>Изображений нет</option>
                    </select>
                    </div>
                    <div class="input-group mt-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Загрузить</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="fileImageAdditions" multiple="true" accept="image/jpeg,image/png" name="additionalImages">
                        <label class="custom-file-label" for="fileImageAdditions">Выбрать файл</label>
                    </div>
                   </div>
                  </div>
                 </div>
               </div>
			   </form>
			  </div>
            </div>

		  </div>
          
        </main>

		<script type="text/javascript">
		$(function(){
			$("#submit").click(function(e) {
			alert('Запрос');
			var number=[];
			var name=[];
			var duration=[];
			$('tr').each(function(index, elem){   
				var k=1;
				for(var i in elem.childNodes)
				{
					console.log(elem.childNodes[i]);
					if(elem.childNodes[i].tagName=="TD"||elem.childNodes[i].tagName=="TH")
					{
						if(k==1)
						{
							number.push(elem.childNodes[i].innerText);
							k++;
							continue;
						}
						if(k==2)
						{
							name.push(elem.childNodes[i].innerText);
							k++;
							continue
						}
						if(k==3)
						{
							duration.push(elem.childNodes[i].innerText);
							k++;
							continue
						}
					}							    
				}
			});
			console.log(number.length);

			console.log(number);
			console.log(name);
			console.log(duration);
			for(var i=1;i<number.length;i++)
			{
			  $('#insertForm').append("<input type='hidden' name='number' value='" + number[i] + "'>"+"<input type='hidden' name='songName' value='" + name[i] + "'>"+"<input type='hidden' name='duration' value='" + duration[i] + "'>");
			}
			/*$.post('insert', $("#insertForm").serialize(),
            function() {
                   alert('Запрос выполнен');
				   $('#formImages').ajaxSubmit();
				});*/

			$('#formImages').ajaxSubmit(function() {
				$.post('insert', $("#insertForm").serialize(),
				function() {
					   alert('Запрос выполнен');
					});
			});

			});
			

		});
		</script>
		<script type="text/javascript">
    //Вставить строку
      $(function(){
        $('#insertIntoTable').bind('click', function(e){
          $('tr').last().after(`<tr id-entry="${$('tr').length}"><th scope="row">${$('tr').length}</th><td>${$('#songName').val()}</td><td>${$('#songMin').val()}:${$('#songSec').val()}</td></tr>`);
        });
      });
      //Обновить строку
      $(function(){
        $('#updateEntry').bind('click', function(e){
          if($(this).attr('id-entry')!=-1)
          {
            var curPosChildren=$("tr[id-entry="+$(this).attr('id-entry')+"]").children();
            curPosChildren[1].innerText=$('#songName').val();
            curPosChildren[2].innerText=`${$('#songMin').val()}:${$('#songSec').val()}`;
            //$(this).attr('id-entry','-1');
          }
        });
      });
    </script>

    <script type="text/javascript">
      $(function(){
        $('body').on('click', 'tr',function(e){
        $("tr[class=table-primary]").removeClass("table-primary");
            
        $(this).addClass("table-primary"); 
         //alert("fgdf");
        });
      });

      $(function(){
        $('#delete').bind('click', function(e){
          $("tr[class=table-primary]").remove();
          var trs=$("th[scope=row]");
          //console.log(trs);
          for (var i=0;i<trs.length;i++)
            $(trs[i]).text(i+1);
        });
      });


      $(function(){
        $('#edit').bind('click', function(e){
          $('#insertIntoTable').css('display','none');
          $('#updateEntry').css('display','block');
          var curPos=$("tr[class=table-primary]");
          if(curPos.length!=0)
            {
              var children=$(curPos[0]).children();
              $('#updateEntry').attr('id-entry',children[0].innerText);
              $('#songName').val(children[1].innerText);
              var time=children[2].innerText.split(':');
              $('#songMin').val(time[0]);
              $('#songSec').val(time[1]);
            }
        });
      });

      $(function(){
        $('#add').bind('click', function(e){
          $('#songName').val('');
          $('#songMin').val('');
          $('#songSec').val('');
          $('#insertIntoTable').css('display','block');
          $('#updateEntry').css('display','none');
        });
      });
    </script>

	<script type="text/javascript">
      //работа с загрузкой изображеий
      // загрузка обложки альбома
      $('#fileImageCover').bind('change', function(e){
        console.log($(this).val());

         var reader = new FileReader();
         reader.onload=function(e){
          $('#ImageCover').attr('src', e.target.result);
         }
         reader.readAsDataURL(this.files[0]);
      });

      $('#deleteImageCover').bind('click', function(e){
        $('#ImageCover').attr('src', '');
        var $fImageCover=$('#fileImageCover');
        //console.log(document.getElementById('fileImageCover').files);
        $fImageCover.val('');
        //console.log(document.getElementById('fileImageCover').files);
      });

      // загрузка дополнительных изображений
      $('#fileImageAdditions').bind('change', function(e){
        deletePromise()
            .then(()=>{

                var files = this.files;

                if (files.length>0)
                {
                  for(var i=0;i<files.length;i++){
                    console.log(files[i].name);

                      var reader = new FileReader();
                      reader.onload = (function(theFile, i) {
                        return function(e) {
                          console.log(i);

                          $('.carousel-inner').append('<div class="carousel-item '+(i==0?'active':'')+'">'+
                                      '<img class="d-block w-100 alb-cover" src="'+e.target.result+'">'+
                                    '</div>');
                          $(".carousel-indicators").append('<li data-target="#carouselAdditionalImages" data-slide-to="'+i+'"></li>');
                          $("#inputGroupSelectImgNames").append('<option class="imgName" '+(i==0?'selected':'')+'>'+theFile.name+'</option>');
                        };
                      })(files[i], i);

                    reader.readAsDataURL(files[i], i); 
                  }
                }
                console.log(document.getElementById('fileImageAdditions').files);
              })
      });

      $('#deleteImageAdditionals').bind('click', function(e){
        $(".imgName").remove();
        $(".carousel-item").remove();
        $(".carousel-indicators>li").remove();
        
        console.log(document.getElementById('fileImageAdditions').files);
        $('#fileImageAdditions').val('');
        console.log(document.getElementById('fileImageAdditions').files);
      });

      var deletePromise=function(){
        return new Promise(function(resolve,reject){

          $(".imgName").remove();
          $(".carousel-item").remove();
          $(".carousel-indicators>li").remove();
          //console.log(document.getElementById('fileImageAdditions').files);
          resolve();
        });
      }

    </script>