<%# views/extends/basket.ejs %>
 
<% extend('../layout') %>	
		<div class="path">
          ГЛАВНАя/КОРЗИНА
        </div>
		<%if (user){%>	
			<div class="container d-flex"> 
				<div class="p-1 b-tittle-3">Оформить заказ</div>
				<div class="ml-auto p-1 b-tittle-4"><span class="total-cart-count"><%=countGoods%></span> товар</div>
			</div>
			<%if (countGoods>0){%>
				<div class="container">
				  <form>
					<div class="form-row">
					  <div class="col-md-6 p-0 mb-2">
						<div class="form-order p-3 rounded">
						  <div class="b-form-tit">
							Получатель
						  </div>
						  <div class="p-2">
							<div class="form-group">
							  <input type="text" class="form-control" name="surname" placeholder="Фамилия">
							</div>
							<div class="form-group">
							  <input type="text" class="form-control" name="name" placeholder="Имя">
							</div>
							<div class="form-group">
							  <input type="text" class="form-control" name="patronymic" placeholder="Отчество">
							</div>
							<div class="form-group">
							  <input type="text" class="form-control" name="phone" placeholder="Телефон: +7 ХХХ-ХХХ-ХХ-ХХ" value size="60" maxlength="128">
							</div>
							<div class="form-group">
							  <input type="email" class="form-control" name="email" placeholder="E-mail">
							</div>
						  </div>
						</div>
					  </div>
					  <div class="col-md-6 p-0 mb-2">
						<div class="form-order p-3 rounded h-100">
						  <div class="b-form-tit">
							Доставка
						  </div>
						  <div class="p-2">
							<div class="form-group">
							  <input type="text" class="form-control" name="city" placeholder="Город">
							</div>
							<div class="form-check">
							  <input class="form-check-input" type="radio" name="deliverBy" id="IdByPostamat" value="postamat">
							  <label class="form-check-label" for="IdByPostamat">
								Через пункт выдачи или в постамат
							  </label>
							</div>
							<div class="form-check">
							  <input class="form-check-input" type="radio" name="deliverBy" id="IdByPost" value="post">
							  <label class="form-check-label" for="IdByPost">
								Почта России (в отделение связи)
							  </label>               
							</div>
						  </div>
						</div>
					  </div>
					</div>
				  </form>
				  <div class="b-tittle-3 text-center mb-2">
					<span class="mr-4">Итого:</span> <span class="total-cart-count"><%=countGoods%></span> товар на сумму <span class="total-cart-summa" style="color: #f7941e;"><%=sumPrice%> руб</span>
				  </div>
				  <table class="table">
					<thead>
					  <tr>
						<th scope="col" style="color: #f7941e;">Детали Вашего заказа:</th>
						<th scope="col">Цена</th>
						<th scope="col">Формат</th>
						<th scope="col">Кол-во</th>
						<th scope="col">Сумма</th>
					  </tr>
					</thead>
					<tbody>
					  <%for(var i=0;i<orders.length;i++){%>
					  <tr class="<%=orders[i].ID_order%>">
						<th scope="row">
						  <div class="float-left align-items-center">       
							<img src="/albums-img/<%=orders[i].ID_author%>/<%=orders[i].ID_album%>/<%=orders[i].album_cover.split('.').join('_s.')%>" alt="" class="mr-2 mt-1 d-inline float-left">
							<div class="d-inline float-left align-middle">
							  <div class="table-text">
							   <%=orders[i].alb_name%>
							  </div>
							  <div class="table-text">
							   <%=orders[i].author_name%>
							  </div>
							</div>
						  </div>
						</th>
						<td class="align-middle"><%=prices[i]%> р</td>
						<td class="align-middle">
						  <div class="tab-table">
							<%=orders[i].disktype_n%> 
						  </div>
						</td>
						<td class="align-middle">
						  <div>
							<input class="form-control-sm change-quantity-goods" data-price=<%=prices[i]%> data-id=<%=orders[i].ID_order%> type="text" value=<%=orders[i].quantity%> size="1" style="background-color: inherit;">
							<button class="btn-sm btn-danger delete-from-cart" data-id=<%=orders[i].ID_order%>><span class="oi oi-trash"></span></button>
						  </div>
						</td>
						<td class="align-middle js-summa <%=orders[i].ID_order%>"><%=sumPrices[i]%> р</td>
					  </tr>
					  <%}%>

					</tbody>
				  </table>
				  <div class="mt-2 mb-2 text-center">
					<button type="button" class="btn btn-success btn-lg">Оформить заказ</button>
				  </div>
				</div>
			<%}else{%>
				<div class="text-center my-2 cart-empty">Корзина пуста</div>
			<%}%>
		<%} else{%>
		<div class="d-none buildByJqueryView"></div>
		<%}%>
