<%# views/extends/updateGood.ejs %>
 
<% extend('../admLayout') %>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Изменение товара</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
              </div>
              <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
              </button>
            </div>
          </div>

		  <div class="mb-3">
		  	<button id="submit" type="button" class="btn btn-success mr-2">Изменить товар</button>
		  </div>

		  <div>
		  	<form action="insert" id="insertForm">
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="alb_name">Название альбома</label>
              <input type="text" class="form-control" id="alb_name" name="alb_name" value="<%=product.alb_name%>">
            </div>
            <div class="form-group col-md-4">
              <label for="inputAuthor">Автор</label>
              <select id="inputAuthor" class="form-control" name="author">
				<%for (var i=0;i<authors.length;i++){%>
				<%if (authors[i].author_name==product.author_name){%>
				<option selected value="<%=authors[i].ID_author%>"><%=authors[i].author_name%></option>
				<%}else{%>
				<option value="<%=authors[i].ID_author%>"><%=authors[i].author_name%></option>
				<%}}%>
              </select>
            </div>
          </div>
          
          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="inputGenre">Жанр</label>
              <select id="inputGenre" class="form-control" name="genre">
                <%for (var i=0;i<genres.length;i++){%>
				<%if (genres[i].genre_name==product.genre_name){%>
				<option selected value="<%=genres[i].ID_genre%>"><%=genres[i].genre_name%></option>
				<%}else{%>
				<option value="<%=genres[i].ID_genre%>"><%=genres[i].genre_name%></option>
				<%}}%>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label for="inputStyle">Стиль</label>
              <select id="inputStyle" class="form-control" name="style">
                <%for (var i=0;i<styles.length;i++){%>
				<%if (styles[i].style_name==product.style_name){%>
				<option selected value="<%=styles[i].ID_style%>"><%=styles[i].style_name%></option>
				<%}else{%>
				<option value="<%=styles[i].ID_style%>"><%=styles[i].style_name%></option>
				<%}}%>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label for="inputLabel">Лейбл</label>
              <select id="inputLabel" class="form-control" name="label">
                <%for (var i=0;i<labels.length;i++){%>
				<%if (labels[i].label_name==product.label_name){%>
				<option selected value="<%=labels[i].ID_label%>"><%=labels[i].label_name%></option>
				<%}else{%>
				<option value="<%=labels[i].ID_label%>"><%=labels[i].label_name%></option>
				<%}}%>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label for="inputOrigin">Происхождение</label>
              <select id="inputOrigin" class="form-control" name="origin">
                <%for (var i=0;i<origins.length;i++){%>
				<%if (origins[i].origin_name==product.origin_name){%>
				<option selected value="<%=origins[i].ID_origin%>"><%=origins[i].origin_name%></option>
				<%}else{%>
				<option value="<%=origins[i].ID_origin%>"><%=origins[i].origin_name%></option>
				<%}}%>
              </select>
            </div>
          </div>

          <h4>Типы и количество дисков</h4>
          <div class="form-row">
            <div class="form-group col-md-4"> 
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="disktype1" name="disktype1" <%if (product.ID_disktype1==1){%>checked<%}%>>
                  <label class="form-check-label" for="disktype1">
                    CD
                  </label>
                </div>
                  <label for="inputCountdisk1">Дисков в альбоме</label>
                  <input type="text" class="form-control" id="inputCountdisk1" name="countdisk1" value="<%=product.countdisk1%>">
                  <label for="inputCount1">Дисков на складе</label>
                  <input type="text" class="form-control" id="inputCount1" name="count1" value="<%=product.count1%>">
                  <label for="inputAlb_price1">Цена</label>
                  <input type="text" class="form-control" id="inputAlb_price1" name="alb_price1" value="<%=product.alb_price1%>">
              </div>

            <div class="form-group col-md-4"> 
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="disktype2" name="disktype2" <%if (product.ID_disktype2==2){%>checked<%}%>>
                  <label class="form-check-label" for="disktype2">
                    Винил
                  </label>
                </div>
                  <label for="inputCountdisk2">Дисков в альбоме</label>
                  <input type="text" class="form-control" id="inputCountdisk2" name="countdisk2" value="<%=product.countdisk2%>">
                  <label for="inputCount2">Дисков на складе</label>
                  <input type="text" class="form-control" id="inputCount2" name="count2" value="<%=product.count2%>">
                  <label for="inputAlb_price2">Цена</label>
                  <input type="text" class="form-control" id="inputAlb_price2" name="alb_price2" value="<%=product.alb_price2%>">
              </div>
              <div class="form-group col-md-3 mt-md-4">
                <label for="inputProdtype">Тип товара</label>
                <select id="inputProdtype" class="form-control" name="prodtype">
                <%for (var i=0;i<prodtypes.length;i++){%>
				<%if (prodtypes[i].ID_prodtype==product.ID_prodtype){%>
				<option selected value="<%=prodtypes[i].ID_prodtype%>"><%=prodtypes[i].prodtype_name%></option>
				<%}else{%>
				<option value="<%=prodtypes[i].ID_prodtype%>"><%=prodtypes[i].prodtype_name%></option>
				<%}}%>
              </select>
              </div>
          </div>
			<input type="hidden" name="updatedID" value="<%=product.ID_album%>">

			<div id="songs">
            <p>
              <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseSongs" aria-expanded="false" aria-controls="collapseSongs">
                Редактировать список песен
              </button>
            </p>
            <div class="collapse" id="collapseSongs">
              <div class="card card-body py-2 mb-2">
                <h5>Песни</h5>
                <div class="mb-3">
                  <button type="button" id="add" class="btn btn-success btn-sm mr-2" data-toggle="collapse" data-target="#addSong" aria-expanded="false" aria-controls="addSong">Добавить</button>
                  <button type="button" id="edit" class="btn btn-warning btn-sm mr-2" data-toggle="collapse" data-target="#addSong" aria-expanded="false" aria-controls="addSong">Редактировать</button>
                  <button type="button" id="delete" class="btn btn-danger btn-sm">Удалить</button>
                    <div class="collapse  mt-2" id="addSong">
                      <div class="border rounded p-1">
                        <div class="row align-items-center">
                          <div class="col-auto">
                            <button type="button" id="insertIntoTable" class="btn btn-success btn-sm" style="display: none;">Вставить в таблицу</button>
                            <button type="button" id="updateEntry" id-entry="-1" class="btn btn-success btn-sm" style="display: none;">Обновить строку</button>
                          </div>
                          <div class="col-auto">
                            <input type="text" id="songName" class="form-control-sm" placeholder="Название">
                          </div>
                          <div class="col-auto mt-1 mt-md-1 mt-lg-0">
                            <input type="text" id="songMin" class="form-control-sm" placeholder="Минуты">
                          </div>
                          <div class="col-auto mt-1 mt-md-1 mt-lg-0">
                            <input type="text" id="songSec" class="form-control-sm" placeholder="Секунды">
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <table class="table table-bordered mb-0 table-sm">
                  <thead>
                    <tr id-entry="-1">
                      <th scope="col">#</th>
                      <th scope="col">Название</th>
                      <th scope="col">Длительность</th>
                    </tr>
                  </thead>
                  <tbody>
				  <%for(var i=0; i<songs.length;i++){%>
					<tr id-entry="<%=songs[i].number_in_alb%>">
                      <th scope="row"><%=songs[i].number_in_alb%></th>
                      <td><%=songs[i].song_name%></td>
                      <td><%=songs[i].song_duration.substr(3)%></td>
                    </tr>
				  <%}%>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </form>
		  </div>
          
        </main>

		<script type="text/javascript">
		$(function(){
			$("#submit").click(function(e) {
			alert('Запрос');
			var number=[];
			var name=[];
			var duration=[];
			$('tr').each(function(index, elem){   
				var k=1;
				for(var i in elem.childNodes)
				{
					console.log(elem.childNodes[i]);
					if(elem.childNodes[i].tagName=="TD"||elem.childNodes[i].tagName=="TH")
					{
						if(k==1)
						{
							number.push(elem.childNodes[i].innerText);
							k++;
							continue;
						}
						if(k==2)
						{
							name.push(elem.childNodes[i].innerText);
							k++;
							continue
						}
						if(k==3)
						{
							duration.push(elem.childNodes[i].innerText);
							k++;
							continue
						}
					}							    
				}
			});
			console.log(number.length);

			console.log(number);
			console.log(name);
			console.log(duration);
			for(var i=1;i<number.length;i++)
			{
			  $('#insertForm').append("<input type='hidden' name='number' value='" + number[i] + "'>"+"<input type='hidden' name='songName' value='" + name[i] + "'>"+"<input type='hidden' name='duration' value='" + duration[i] + "'>");
			}

			 $.post('updateQuery', $("#insertForm").serialize(),
            function() {
                   alert('Запрос выполнен');
				});
			});
		});
		</script>

		<script type="text/javascript">
    //Вставить строку
      $(function(){
        $('#insertIntoTable').bind('click', function(e){
          $('tr').last().after(`<tr id-entry="${$('tr').length}"><th scope="row">${$('tr').length}</th><td>${$('#songName').val()}</td><td>${$('#songMin').val()}:${$('#songSec').val()}</td></tr>`);
        });
      });
      //Обновить строку
      $(function(){
        $('#updateEntry').bind('click', function(e){
          if($(this).attr('id-entry')!=-1)
          {
            var curPosChildren=$("tr[id-entry="+$(this).attr('id-entry')+"]").children();
            curPosChildren[1].innerText=$('#songName').val();
            curPosChildren[2].innerText=`${$('#songMin').val()}:${$('#songSec').val()}`;
            //$(this).attr('id-entry','-1');
          }
        });
      });
    </script>

    <script type="text/javascript">
      $(function(){
        $('body').on('click', 'tr',function(e){
        $("tr[class=table-primary]").removeClass("table-primary");
            
        $(this).addClass("table-primary"); 
         //alert("fgdf");
        });
      });

      $(function(){
        $('#delete').bind('click', function(e){
          $("tr[class=table-primary]").remove();
          var trs=$('tr');
          for (var i=1;i<trs.length;i++)
          {
            $(trs[i]).attr('id-entry',i);
            $(trs[i]).children()[0].textContent=i;
          }
        });
      });


      $(function(){
        $('#edit').bind('click', function(e){
          $('#insertIntoTable').css('display','none');
          $('#updateEntry').css('display','block');
          var curPos=$("tr[class=table-primary]");
          if(curPos.length!=0)
            {
              var children=$(curPos[0]).children();
              $('#updateEntry').attr('id-entry',children[0].innerText);
              $('#songName').val(children[1].innerText);
              var time=children[2].innerText.split(':');
              $('#songMin').val(time[0]);
              $('#songSec').val(time[1]);
            }
        });
      });

      $(function(){
        $('#add').bind('click', function(e){
          $('#songName').val('');
          $('#songMin').val('');
          $('#songSec').val('');
          $('#insertIntoTable').css('display','block');
          $('#updateEntry').css('display','none');
        });
      });
    </script>